#centro{
  position: absolute;
  top: 30%;
  margin-top: -20px; 
  margin-left: 385px; /* e retrocede metade da largura */
}
.linha {
	width: 400px;
	color: white;
}
.casa {
	border: solid 2px;
	width: 120px;
	height: 120px;
	float: left;
}
.container {
   height: 200px;
   margin: auto;
   padding: 10px;
}
.empate{
  background-color:#008000;
  color: white;
  text-align: center; 
}
 #caruso{
 background-color: white	;
 color: #FF8C00;
 text-align: center;
 }
 #chris{
 background-color:white;
 color:#0000CD ;
 text-align: center;
 }
 #velha{
  background-color: #008000;
  color: white;
  text-align: center;

 }
 .table{
 margin-top: 10px;
 margin-left: 374px;
 height: 50px;
}
 .tabuleiro{
 width: 50%;
 height: 200px;
 float: left;
 }
 body {
	width: 100%;
  height: 400px;
  background-image: url("img/luta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 .aqui{
  font-size: 10pt; 
  color: black;
  font-weight: bold;
  text-align:  center;
 }
 .aqui1{
  font-size: 10pt; 
  color: black;
  font-weight: bold;
  text-align:  center;
 }
 .aqui2{
  font-size: 10pt; 
  color: white;
  font-weight: bold;
 }
 #botao{
 	font-size: 15pt;
 	color: #FF0000;
  position: absolute;
  top: 30%;
  margin-top: 500px; 
  margin-left: 440px;
 }
 #botao2{
	font-size: 15pt;
 	color: #FF0000;
 	position: absolute;
  top: 30%;
  margin-top: 500px; 
  margin-left: 550px;
 }


 	
 
 
 
